<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>e-Greeting Card - @ViewBag.PageTitle</title>
    <meta name="keywords" value="" />

    <!-- Bootstrap CSS -->

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/css/site.css" rel="stylesheet" />*@
</head>

<body>
    @RenderBody()

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Using local libraries not the outside library link addresses -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/assets/js/vendor/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    @RenderSection("Scripts", required: false)



</body>
</html>