body {
    font-family:;
    font-size: 14px;
    color:;
    text-align: center;
    /*margin: auto;*/
}

a {
    color:;
    background-color: transparent;
}

    a:link,
    a:visited,
    a:active,
    a:hover a:focus {
        color:;
    }

    a:hover {
        background:;
    }

img {
    padding: 1em;
}

h1 {
    padding: 1em;
}

/* TO GET RID OFF THE SIDE CONTROL BACKGROUND (GRADIENT)*/
.right.carousel-control {
    background-image: none;
}

.left.carousel-control {
    background-image: none;
}

.item {
    background-color: pink;
    opacity: 0.7;
}




/* 
    ************************************************************************
    HOW TO: ADJUST YOUR CSS WHEN THE USER'S VIEWPORT GETS LARGER

    You may combine anything to the right of "@media screen"    
    For example: 
    @media screen and (min-width: 1024px) and (orientation: landscape)
    ************************************************************************
*/

/* FOR LARGER HEIGHT */
@media screen and (min-height: ___px) {
}

/* FOR LARGER WIDTH */
@media screen and (min-width: ___px) {
}

/* FOR PORTRAIT ONLY */
@media screen and (orientation: portrait) {
    /*.carousel-slide {
        padding-bottom: 1.5em;
    }*/
}

/* FOR LANDSCAPE ONLY */
@media screen and (orientation: landscape) {
}
